#root, html, body {
  height: 100%;
  background-color: #282c34;
  -webkit-text-size-adjust:none;
  text-size-adjust: none

}

.App {
  text-align: center;
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  /* overflow: scroll; */
  max-height: 150px;
  display: flex;
  flex-direction: row;
  
  align-items: baseline;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

h2 {
  justify-content: left;
  align-items: left;
  text-align: left;
}

.App-body {
  background-color: #282c34;
  /* overflow-y: hidden; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@media screen and (max-width: 450px) {
  .App-body {
    align-items: flex-start;
    flex-direction: row;
  }
}

@media screen and (min-width: 451px){
  .App-body {
    align-items: center;
    height: 100%;
  }
}

@media screen and (min-width: 751px) {
}

.right-panel {
  /* margin-left : 2%; */
  padding-left: 2%;
  align-items: center;
  /* padding-top: 3%; */
  /* padding-bottom: 10%; */
  /* margin-bottom: 60%; */
  /* display: inline-grid; */
  /* grid-template-rows: 1fr 1fr 1fr; */
  /* grid-auto-rows: minmax(0, 1fr); */
  /* grid-auto-flow: row; */
  /* justify-items: center; */

  display: flex;
  flex-direction: column;
  /* display: inline-grid; */
  /* grid-template-rows: 1fr 9fr; */
  /* grid-template-columns: 100px 100px 100px; */
  /* grid-gap: 3px; */
  /* justify-items: center; */
  /* align-items: center */
  /* font-size: calc(10px + 2vmin); */
  /* color: white; */
}

.App-link {
  color: #61dafb;
}

ul {
  margin: 0;
  padding: 0;
}
