#root {
  height: 100vh;
}

.App {
  text-align: center;
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  /* overflow: scroll; */
  max-height: 150px;
  display: flex;
  flex-direction: row;
  
  align-items: baseline;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

h2 {
  justify-content: left;
  align-items: left;
  text-align: left;
}

.App-body {
  background-color: #282c34;
  /* overflow-y: hidden; */
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  /* align-items: center;
  justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.right-panel {
  margin-left : 2%;
  /* margin-bottom: 60%; */
  /* display: inline-grid; */
  /* grid-template-rows: 1fr 1fr 1fr; */
  /* grid-auto-rows: minmax(0, 1fr); */
  /* grid-auto-flow: row; */
  /* justify-items: center; */


  display: inline-grid;
  grid-template-rows: 1fr 3fr 1fr;
  /* grid-template-columns: 100px 100px 100px; */
  grid-gap: 3px;
  justify-items: center;
  align-items: center
  /* font-size: calc(10px + 2vmin); */
  /* color: white; */
}

.App-link {
  color: #61dafb;
}

ul {
  margin: 0;
  padding: 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.b-timer {
  /* text-align: left; */
  margin: 1%;
  justify-self: left;
  background-color: black;
  border-radius: 100px;
  color: white;
  width: fit-content;
  height: fit-content;
  padding: 1%;
}

.w-timer {
  margin: 1%;
  /* position: relative; */
  /* left: 75%; */
  /* align-self: right; */
  justify-self: right;

  background-color: white;
  border-radius: 100px;
  color: black;
  width: fit-content;
  height: fit-content;
  padding: 1%;
}