.chat-feed {
    position: relative;
    align-content: left;
    margin-top: 3%;
    /* height: 40vw; */
    width: 25vw;
    height: 60vh;
    overflow-x: scroll;
    background-color: #16181d;
    overflow-y: scroll;
}



.chat-feed p {
    position: relative;
    text-align: left;
    width: 100%;
}

#info {
    font-size: calc(10px + 0.7vmin);
    color: rgb(148, 148, 148);
}

#chat {
    font-size: calc(10px + 1.2vmin);
    color: white;
}

.chat-form {
    position: relative;
    width: 100%;
}