.history-arrows {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 450px;
    padding: 5px;
    /* margin-top: 100%;  */
    background-color: white;
    border-radius: 10px;
    /* border: 3px solid #3178C6; */
    height: fit-content;
    /* position: relative; */
    /* top: 100%;  */
}


svg{
    fill: #3178C6;
    min-width: 50px;
}

svg:hover{
    fill: #C94E3E;
}