.history-arrows {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px;
    /* margin-top: 100%;  */
    background-color: white;
    border-radius: 10px;
    border: 10px solid #3178C6;
    /* position: relative; */
    /* top: 100%;  */
}


svg{
    fill: #3178C6;
    min-width: 50px;
}

svg:hover{
    fill: #C94E3E;
}