.tile {
    list-style-type: none;
    width: 70px;
    height: 70px;
}


.piece-icon {
    /* disable selection by mouse dragging and stuff */
    /* taken from https://gist.github.com/23maverick23/64b3b587c88697558fac */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    

    transform: scale(1.5);
    position:relative;
    top: 20%;

}